<!-- 手機版 -->
<footer class="bg-gray-700 d-md-none">
  <div class="container py-sm-64">
    <div class="d-flex flex-column align-items-center">
      <a href="#"
        ><img src="../assets/images/logo-Light-V.png" alt="logo-Light-V"
      /></a>
      <ul class="d-flex flex-column mt-14">
        <li><a href="#" class="text-white py-2 px-4 mb-6">認識我們</a></li>
        <li><a href="#" class="text-white py-2 px-4 mb-6">常見問題</a></li>
        <li><a href="#" class="text-white py-2 px-4">聯絡我們</a></li>
      </ul>
      <ul class="d-flex mt-14 w-60 justify-content-between align-items-center">
        <li>
          <a href="#"
            ><img src="../assets/images/icon/facebook-light.png" alt="Facebook"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="../assets/images/icon/Instagram-light.png"
              alt="Instagram"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/icon/youtube-light.png" alt="youtube"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/icon/Line-light.png" alt="line"
          /></a>
        </li>
      </ul>
      <p class="text-copyright">
        Copyright © 2024 ExpoAnyGate. All rights reserved.
      </p>
    </div>
  </div>
</footer>

<!-- 平板以上 -->
<footer class="bg-gray-700 d-none d-md-block">
  <div class="container py-sm-64">
    <div class="d-flex align-items-center justify-content-between">
      <a href="#"
        ><img src="../assets/images/logo-Light-L.png" alt="logo-Light-L"
      /></a>
      <ul class="d-flex">
        <li><a href="#" class="text-white py-2 px-4">認識我們</a></li>
        <li><a href="#" class="text-white py-2 px-4">常見問題</a></li>
        <li><a href="#" class="text-white py-2 px-4">聯絡我們</a></li>
      </ul>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-8">
      <ul class="d-flex w-20 justify-content-between align-items-center">
        <li>
          <a href="#"
            ><img src="../assets/images/icon/facebook-light.png" alt="Facebook"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img
              src="../assets/images/icon/Instagram-light.png"
              alt="Instagram"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/icon/youtube-light.png" alt="youtube"
          /></a>
        </li>
        <li>
          <a href="#"
            ><img src="../assets/images/icon/Line-light.png" alt="line"
          /></a>
        </li>
      </ul>
      <p class="text-copyright m-0">
        Copyright © 2024 ExpoAnyGate. All rights reserved.
      </p>
    </div>
  </div>
</footer>
