<nav class="bg-white position-breakpoint">
  <div class="container py-6 navbar-layout">
    <div class="d-flex justify-content-between align-items-center">
      <a href="index.html">
        <img src="../assets/images/logo-Light.png" alt="logo" />
      </a>

      <div class="dropdown">
        <button
          class="btn btn-white border border-gray-400 rounded-3 login-btn py-2 px-4"
          type="button"
          data-bs-toggle="dropdown"
          data-bs-auto-close="outside"
          aria-expanded="false"
        >
          <!-- 修改點擊後的圖片顏色 -->
          <span
            style="height: 1.5rem; width: 1.5rem"
            class="material-symbols-outlined p-0 align-middle user-icon"
          >
            person
          </span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button
              class="dropdown-item d-flex align-items-center p-item"
              data-bs-toggle="collapse"
              data-bs-target="#collapseAccount"
              role="button"
              aria-expanded="false"
              aria-controls="collapseAccount"
            >
              <img
                src="../assets/images/icon/User-edit_outlined.png"
                alt="User-edit_outlined"
                class="me-4"
              />
              <span>帳號管理</span>
              <img
                src="../assets/images/icon/Dropdown.png"
                class="ms-12"
                alt="Dropdown"
              />
            </button>
            <ul class="collapse" id="collapseAccount">
              <li>
                <a href="#" class="p-sub-item dropdown-item">基本設定</a>
              </li>
              <li>
                <a href="#" class="p-sub-item dropdown-item">密碼設定</a>
              </li>
            </ul>
          </li>
          <li>
            <a class="dropdown-item p-item d-flex align-items-center" href="#"
              ><img
                src="../assets/images/icon/Thumb up_outlined.png"
                alt="Thumb up_outlined"
                class="me-4"
              /><span>展覽推薦設定</span></a
            >
          </li>
          <li>
            <a class="dropdown-item p-item d-flex align-items-center" href="#"
              ><img
                src="../assets/images/icon/Bookmark_add.png"
                alt="Bookmark_add"
                class="me-4"
              /><span>收藏／評分</span></a
            >
          </li>
          <li>
            <a class="dropdown-item p-item d-flex align-items-center" href="#"
              ><img
                src="../assets/images/icon/Calendar.png"
                alt="Calendar"
                class="me-4"
              /><span>我的行事曆</span></a
            >
          </li>
          <li>
            <a class="dropdown-item p-item d-flex align-items-center" href="#"
              ><img
                src="../assets/images/icon/Login.png"
                alt="Login.png"
                class="me-4"
              /><span>會員登出</span></a
            >
          </li>
          <li>
            <a class="dropdown-item p-item d-flex align-items-center" href="#"
              ><img
                src="../assets/images/icon/User.png"
                class="me-4"
                alt="User" />
              <span>我是會員</span>
              <img
                src="../assets/images/icon/Settings_outlined.png"
                alt="Settings_outlined"
                class="ms-12"
            /></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
