.demo-banner {
    background-image: url("../images/demo-banner-lg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
    @include media-breakpoint-up(sm) {
        background-image: url("../images/demo-banner.png");
        height: 480px;
        background-position: left;
    }
  }


.demo-card-header{
    
    flex-direction: column;
    gap: 24px;
    @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
    }
}