.spotlight-banner {
    background-image: url("../images/spotlight-banner-sm.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; 
    height: 700px;
    @include media-breakpoint-up(md) {
        background-image: url("../images/spotlight-banner-lg.png");
        height: 560px;
        background-position: bottom;
    }
  }

.spotlight-card-info{
    // padding: 0 232px;
    // button {
    //     display: block;
    // }
    .spotlight-button:hover{
        background-color: $gray-200;
        color:$gray-900;
    }
}

.spotlight-card {
    // margin-top: 226px;
    margin: 226px 80px 0 80px;
    border-radius: 0  0 36px 36px;


    // @include media-breakpoint-up(md) {
    //     width: 50%;
    // }
}

.spotlight-card-content-img {

    img {
        width: 100%;
        border-radius: 50px 10px; 
    }

}