<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo</title>
  </head>
  <body>
    <%- include('./layout/navbar'); -%>
    <div class="demo-banner">
    </div>

    <div class="container">
      <div class="d-flex mt-10">
        <div class="large-demo-card mr-6 border border-gray-700 rounded-3 p-10">
          <div class="demo-card-header d-flex">
            <div class="demo-title d-flex align-items-center">
              <p class="fs-12 fw-bold me-2">現代藝術展</p>
              <a href="#">
                <img
                src="../assets/images/icon/Bookmark_add.png"
                alt="Bookmark_add"/>
              </a>
            </div>
            <ul class="demo-tags d-flex align-items-center gap-3 fs-3 ">
              <li>
                <button class="btn btn-outline-gray-700 rounded-pill bg-gray-000">#多媒體藝術</button></li>
              <li>
                <button class="btn btn-outline-gray-700 rounded-pill bg-gray-000">＃視聽體驗</button></li>
            </ul>
          </div>
        

          <ul class="demo-info d-flex flex-column gap-3 mt-6">
            <li class="d-flex align-items-center gap-3">
              <img
                  src="../assets/images/icon/Calendar.png"
                  alt="Calendar"/>
              <span>2024/8/15 - 2024/9/15</span>
            </li>
            <li class="d-flex align-items-center gap-3">
              <img
                  src="../assets/images/icon/Access_time.png"
                  alt="Access_time"/>
              <span>09:00-18:00</span>
            </li>
            <li class="d-flex align-items-center gap-3">
              <img
                  src="../assets/images/icon/location_outlined.png"
                  alt="location_outlined"/>
              <span>台北市中區繼光街59號</span>
            </li>
            <li class="d-flex align-items-center gap-3">
              <img
                  src="../assets/images/icon/earth.png"
                  alt="earth"/>
              <span>http:123456789.com</span>
            </li>
          </ul>

          <p class="mt-6">
            現代藝術展是一場充滿創新與思想碰撞的視覺盛宴，匯集了來自全球的前衛藝術家和創作者,他們以獨特的視角和風格呈現了當代藝術的多樣性和豐富性。本次展覽以“無限創意"為主題,探索了當代社會中的多元文化、科技變革、環境保護等議題,並以藝術的形式展現出對這些主題的深刻思考與詮釋。
          </p>

          <ul class="action-icons d-flex gap-6 mt-6">
            <li class="d-flex align-items-center gap-2">
              <img
                  src="../assets/images/icon/heart-filled.png"
                  alt="location_outlined"/>
              <span>1,200</span>
            </li>
            <li class="d-flex align-items-center gap-2">
              <img
                  src="../assets/images/icon/eye-filled.png"
                  alt="earth"/>
              <span>15,000</span>
            </li>
          </ul>

          <button class="btn btn-gray-700 mt-8 rounded-8 w-100">
            我要參加
          </button>
        </div>
      

        <div class="demo-sub-card d-flex flex-column">
          <div class="demo-score border-1"></div>
          <div class="demo-sponsor border-1"></div>
        </div>

      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
