<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/navbar'); -%>
    <h1>---請刪我---</h1>
    <button
      type="button"
      class="btn btn-tertiary-600 border-radius-btn w-25 mt-10"
    >
      Primary
    </button>
    <%- include('./layout/footer'); -%>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>
  </body>
</html>
