<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spotlight</title>

  </head>
  <body>
    <%- include('./layout/navbar'); -%>
    <div class="spotlight-banner mt-bp-140-0 d-flex align-items-center">
        <div class="spotlight-banner-text text-center w-100">
            <h1 class="fs-15 fw-900 text-primary-800">藝展聚光燈</h1>
            <h3 class="fs-6 fw-400 text-primary-800 mt-2">透過藝術特寫、會員投稿與回顧特寫，感受展覽的每一份感動。</h3>
        </div>
    </div>

    <div class="container">

    </div>
    <%- include('./layout/footer'); -%>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script type="module" src="../main.js"></script>

  </body>
</html>
